.wishlists{
    background-image: url("/static/media/bg_dutyFree.e591c244.png");
    text-align: center;
    h1{
        margin-bottom: 20px;
    }
    .events-list{
        text-align: left;
    }
}
